set nu rnu             " use hybrid relative line numbers

set incsearch          " incremental search
set hlsearch           " highlight search
set ignorecase         " searches are case insensitive
set smartcase          " ...unless they contain at least one capital letter

" map leader to space
let mapleader=" "

" invoke vim commands more easily
nmap ; :

" closest thing to showing open buffers
nnoremap <Leader><Space> :action RecentFiles<CR>
nnoremap <Leader>? :action RecentFiles<CR>

" make switching buffers easier
nnoremap <Tab> :action NextTab<CR>
nnoremap <S-Tab> :action PreviousTab<CR>
nnoremap <Leader>d :action CloseContent<CR>

nmap gcc :action CommentByLineComment<CR>
xmap gc :action CommentByLineComment<CR>

" fzf / go to file
nnoremap <Leader>sf :action GotoFile<CR>

" ReplaceWithRegister
nmap <Leader>r  <Plug>ReplaceWithRegisterOperator
nmap <Leader>rl <Plug>ReplaceWithRegisterLine
xmap <Leader>r  <Plug>ReplaceWithRegisterVisual

" rename
nmap <leader>rn :action RenameElement<CR>

" Remap keys for gotos
nmap <silent> gd :action GotoDeclaration<CR>
nmap <silent> gD :action GotoDeclaration<CR>
nmap <silent> <Leader>d :action GotoTypeDeclaration<CR>
nmap <silent> gI :action GotoImplementation<CR>

""""" ideavim only
" share vim register with system clipboard
set clipboard+=unnamed
set clipboard+=ideaput

" edit and release ideavimrc
nnoremap \e :e ~/.config/ideavim/ideavimrc<CR>
nnoremap \r :source ~/.ideavimrc<CR>

nnoremap <C-z> :action ToggleDistractionFreeMode<CR>

set showcmd            " show (partial) command in the status bar
set showmode           " message on the status line to show current mode
set ideastatusicon=gray

" mimic NvimTree
nmap <leader>o :action ActivateProjectToolWindow<CR>

" split and move the current tab to the right
nmap <Leader>vsp :action MoveTabRight<CR>

" navigation
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

" use intellij's navigation history
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" navigate errors
nnoremap <Leader>e :action ShowErrorDescription<CR>
nnoremap <Leader>q :action ActivateTODOToolWindow<CR>
nnoremap [d :action GotoNextError<CR>
nnoremap ]d :action GotoPreviousError<CR>
nnoremap <Leader>a :action ShowIntentionActions<CR>

" search
nnoremap <Leader>/ :action Find<CR>
nnoremap <Leader>sf :action GotoFile<CR>
nnoremap <Leader>sc :action GotoClass<CR>
nnoremap <Leader>sg :action FindInPath<CR>
nnoremap <Leader>sw :action FindWordAtCaret<CR>

" run forrest, run!
nnoremap ,r :action ContextRun<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>

"reformat
nnoremap <Leader>f  :action ReformatCode<CR>

" emulated plugins
set surround
set commentary
set ReplaceWithRegister
