[submodule "dotfiles/.vim/pack/plugins/start/ReplaceWithRegister"]
	path = dotfiles/.vim/pack/plugins/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister
[submodule "dotfiles/.vim/pack/plugins/start/coc.nvim"]
	path = dotfiles/.vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "dotfiles/.vim/pack/plugins/start/fzf"]
	path = dotfiles/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "dotfiles/.vim/pack/plugins/start/nerdcommenter"]
	path = dotfiles/.vim/pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "dotfiles/.vim/pack/plugins/start/vim-airline"]
	path = dotfiles/.vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "dotfiles/.vim/pack/plugins/start/vim-airline-themes"]
	path = dotfiles/.vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "dotfiles/.vim/pack/plugins/start/vim-fugitive"]
	path = dotfiles/.vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dotfiles/.vim/pack/plugins/start/vim-indent-object"]
	path = dotfiles/.vim/pack/plugins/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "dotfiles/.vim/pack/plugins/start/vim-surround"]
	path = dotfiles/.vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "dotfiles/.vim/pack/plugins/start/vim-system-copy"]
	path = dotfiles/.vim/pack/plugins/start/vim-system-copy
	url = https://github.com/christoomey/vim-system-copy
[submodule "dotfiles/.vim/pack/plugins/start/vim-vinegar"]
	path = dotfiles/.vim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "dotfiles/.vim/pack/plugins/start/nord-vim"]
	path = dotfiles/.vim/pack/plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
